* {
  margin: 0;
  padding: 0;
}
html{
  font-size: 80%;
}
/* Header styling */
header {
  padding: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 1rem;
}
header .try-btn{
  border: 1px solid hsl(322, 100%, 66%);
  padding: 0.4rem 0.9rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: .64rem;
  background: none;
  color: hsl(322, 100%, 66%);
  border-radius: 15px;
  transition: color 0.15s, border-color 0.15s;
  cursor: pointer;
}
.try-btn:hover{
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  color: hsl(321, 100%, 78%);
  border-color: hsl(321, 100%, 78%);
}

/* Main Content */
main {
  margin: 0 auto;
  margin-top: 2.8em;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  color: hsl(192, 100%, 9%);
}
.attractive-character{
  text-align: center;
}
.attractive-character h2{
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(192, 100%, 9%);
  padding: 0 15%;
  line-height: 1.3em;
}
.attractive-character p{
  font-size: 0.9rem;
  color: hsl(192, 100%, 9%);
  margin-top: 1.9em;
  padding: 0 10%;
  line-height: 1.3rem;
}
.attractive-character button, .community-build button{
  border: none;
  color: rgba(255, 255, 255, 1);
  background: hsl(322, 100%, 66%);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.7em 2.1em;
  border-radius: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  margin-top: 3em;
  cursor: pointer;
  transition: background 0.15s;
}
.attractive-character button:hover, .community-build button:hover{
  background: hsl(321, 100%, 78%);
}
/* Screen Mockup */
.screen-mockups{
  margin-top: 5em;
  text-align: center;
}
.screen-mockups img{
  width:75%;
}

/* Users Stats */
.users-stat{
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.stats{
  margin: 0 auto;
  text-align: left;
}
.stats .users-icons{
  height: 1.1em;
}
.stats .stats-number{
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 0.4em;
}
.stats .stats-text{
  font-size: .8rem;
  margin-top: 0.8em;
  text-align: center;
}

/* Curvy Shapes section */
.section-2 {
  margin-top: 4em;
}
.curvy-shape{
  position: relative;
  width: 98.8%;
  height: 5em;
}
.curvy-1{
  margin-bottom: -.1em;
}
.absolute{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.desktop-curve{
  visibility: hidden;
}
.content-one{
  background: hsl(207, 100%, 98%);
  padding: 1.5em;
}
.content{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.illustration {
  width: 66%;
}
.services-header{
  margin-top: 3em;
}
.content .services-header{
  font-size: 1.3rem;
}
.content p{
  font-size: .8rem;
  line-height: 1.2rem;
  margin-top: 1.4em;
}
.content-2{
  padding: 1.5em;
  margin-top: 2.2em;
  margin-bottom: 2.2em;
}

/* Community Build */
.community-build{
  margin-top: 5em;
  padding: 3%;
  text-align: center;
}
.community-build h2{
  font-weight: 700;
  font-size: 1.6rem;
}

/* footer styling */
.curvy-newsletter{
  width: 100%;
  margin-top: 8em;
}
footer{
  background: hsl(192, 100%, 9%);
  color: #ffffff;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  padding: 2.2em;
}
.footer-content{
  display: flex;
  flex-direction: column;
}
footer h5{
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: .79em;
}
footer p{
  font-size: .8rem;
  line-height: 1.22rem;
}
form{
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  margin-top: 2.5em;
}
form input{
  border: none;
  height: 2em;
  border-radius: 3px;
  padding: .3em;
  margin-bottom: .9em;
}
form button{
  float: right;
  border: none;
  color: rgba(255, 255, 255, 1);
  background: hsl(322, 100%, 66%);
  font-size: .8rem;
  font-weight: 500;
  padding: 1em 2.3em;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background 0.15s;
}
form button:hover{
  background: hsl(321, 100%, 78%);
}
.logo-footer {
  width: 7em;
  margin-bottom: .79em;
}
.phone-contact img, .email-contact img{
  height: 1em;
}
.phone-contact, .email-contact{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  margin-top: 1em;
}
.contact-icons{
  margin-top: 3em;
  display: flex;
  align-items: center;
  gap: .53em;
}
.contact-icons a i{
  font-size: 1.7rem;
  color: #fff;
}
i:hover{
  color: #39EEFF;
}
.attribution{
  text-align: center;
  font-size: .7rem;
  margin-top: 2em;
}
.attribution a{
  color: hsl(322, 100%, 66%);
  text-decoration: none;
  cursor: pointer;
}


/* Small devices (mobile landscape, 481px to 767px) */
@media (min-width: 481px) {
  html {
    font-size: 85%;
  }
  .attribution{
    font-size: .35rem;
  }
}

/* Medium devices (tablets, 768px to 1024px) */
@media (min-width: 768px) {
  html {
    font-size: 90%;
  }
  .attractive-character h2{
    font-size: 2rem;
  }
  .attractive-character p{
    width: 30em;
    margin: 2em auto 0 auto;
  }
  .attractive-character{
    text-align: center;
  }
  
  /** Stats **/
  .users-stat{
    display: flex;
    flex-direction: row;
    padding: 0 7%;
  }
  .users-stat .stats-number{
    font-size: 4rem;
    font-weight: 700;
  }
  /* Services Curvy Part */
  .mobile-curve{
    visibility: hidden;
  }
  .desktop-curve{
    visibility: visible;
  }
  .curvy-newsletter{
    margin-bottom: -.2em;
    padding-bottom: 2em;
  }
  .desktop-curve-footer{
    margin-bottom: -.2em;
  }
  .services-header, .community-build h2{
    margin-top: 0;
  }
  .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5em 5%;
  }
  .services-header, .services-detail{
    text-align: left;
  }
  footer{
    padding: 6em 5em;
  }
  .flex-end{
    order: 2;
  }
  .flex-start{
    order: 1;
  }
  .footer-content{
    flex-direction: row;
    gap: 7em;
  }
  .newsletter{
    order: 2;
  }
  .contact-info{
    order: 1;
  }
  form{
    flex-direction: row;
    justify-content: space-between;
    gap: .5em;
  }
  form input{
    width: 64%;
    margin-bottom: 0;
    padding: .3em;
  }

}

/* Large devices (laptops, 1025px to 1200px) */
@media (min-width: 1025px) {
  html {
    font-size: 95%;
  }
}

/* Extra large devices (desktops, 1201px and above) */
@media (min-width: 1201px) {
  html {
    font-size: 100%;
  }
}
